html, body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    font-family: 'Permanent Marker', cursive;
    background-image: url("media/Background1 - Bernard Hermant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}


.img-props {
    box-shadow: -4px 15px 20px 3px;
}

#name-text2{
    margin: 0;
    padding: 0;
    color: rgb(38, 107, 187);
    -webkit-text-stroke-color: black;
    position: absolute;
    text-shadow: 10px 5px 3px rgba(0, 0, 0, 0.801);
    bottom: 40%;
    text-align: center;
    letter-spacing: 0.2rem;
}

#name-text2 h1{
    font-size: 5rem;
    -webkit-text-stroke-width: 3px;
}


#description-text {
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 0;
    padding: 0;
    color: rgb(18, 87, 165);
    text-shadow: 3px 3px 1.7px rgba(0, 0, 0, 0.836);
    bottom: 35%;
    text-align: center;
}

#description-text h2{
    font-size: 2.3rem;
}

#button-pos {
    position: fixed;
    bottom: 18%;
    text-align: center;
}

.button-prettify{
    color: rgb(38, 107, 187);
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
    letter-spacing: 0.1rem;
}


.button-prettify a{
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    transition-duration: 300ms;
    text-shadow: 3px 3px 1.7px rgba(0, 0, 0, 0.836);
}


.button-prettify a:hover{
    color: rgb(0, 0, 0);
    transition-duration: 300ms;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    cursor: pointer;
}


#home-foot{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    bottom: 0%;
    left: 2%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.6);
    height: 1.3rem;
}

.top-header{
    text-align: center;
}

.top-header h1{
    font-family: 'Permanent Marker', cursive;
    color: rgb(38, 107, 187);
    text-shadow: 3px 3px 1.7px rgba(0, 0, 0, 0.836);
    padding: 0 0 2rem 0;
    margin: 2vw;
    font-size: 3rem;
    margin-top: 3rem;
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
}

#about-container{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 10%;
}

#pointer-image img{
    float: none;
    margin: 2.5vw;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    border: black 3px solid;
    box-shadow: 0 0 14px 8px;
}

#about-container p{
    padding: 2vw;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 0.8rem;
    color: white;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
}

#contact-container {
    margin: 2vw;
    padding: 2vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    height: 30vw;
    width: 30vw;
    margin: 3vw auto;
    color: white;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    #name-text2 h1 {
        font-size: 6.5rem;
        -webkit-text-stroke-width: 3px;
    }

    html, body {
        background-image: url("media/Background1 - Bernard Hermant.jpg");
    }

    .button-prettify {
        font-size: 2.5rem;
    }

    .button-prettify a{
        -webkit-text-stroke-width: 2px;
    }

    #button-pos {
        position: absolute;
        bottom: 15%;
    }

    .top-header h1 {
        font-size: 3rem;
    }

    #about-container p {
        font-size: 1rem;
    }

    #pointer-image img{
        float: none;
        width: 10rem;
        height: 10rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    #name-text2 h1 {
        font-size: 7rem;
        -webkit-text-stroke-width: 3px;
    }

    html, body {
        background-image: url("media/Background1 - Bernard Hermant.jpg");
    }

    .button-prettify {
        font-size: 3rem;
    }

    .button-prettify a{
        -webkit-text-stroke-width: 2.5px;
    }

    #button-pos {
        position: absolute;
        bottom: 15%;
    }

    .top-header h1 {
        font-size: 4rem;
    }

    #about-container p {
        font-size: 1.5rem;
    }

    #pointer-image img{
        float: left;
        width: 11rem;
        height: 11rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #name-text2 h1 {
        font-size: 9rem;
        -webkit-text-stroke-width: 5px;
    }

    html, body {
        background-image: url("media/Background1 - Bernard Hermant.jpg");
    }

    .button-prettify {
        font-size: 3.8rem;
    }

    .button-prettify a{
        -webkit-text-stroke-width: 4px;
    }

    #button-pos {
        position: absolute;
        bottom: 15%;
    }

    .top-header h1 {
        font-size: 5rem;
    }

    #about-container p {
        font-size: 1.8rem;
    }

    #pointer-image img{
        float: left;
        width: 14rem;
        height: 14rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    #name-text2 h1 {
        font-size: 9rem;
        -webkit-text-stroke-width: 6px;
    }

    html, body {
        background-image: url("media/Background1 - Bernard Hermant.jpg");
    }

    .button-prettify {
        font-size: 4.5rem;
    }

    #button-pos {
        position: absolute;
        bottom: 15%;
    }

    .top-header h1 {
        font-size: 6rem;
    }

    #about-container p {
        font-size: 2.1rem;
    }

    #pointer-image img{
        float: left;
        width: 17rem;
        height: 17rem;
    }
}